@use "../../../client/styles/variables" as *;

.osjs-notifications {
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
    box-sizing: border-box;
    padding: $base-margin;
    z-index: 16777272;
    overflow: visible;
}

.osjs-notification {
    padding: $base-margin;
    box-sizing: border-box;
    pointer-events: all;
    min-width: 200px;
    margin-bottom: $base-margin;
}

.osjs-notification-wrapper {
    background-size: 3em;
    background-repeat: no-repeat;

    &[data-has-icon=true] {
        padding-left: calc(3em + #{$base-margin});
    }
}