// IconView
.osjs-desktop-iconview {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &__wrapper {
        position: absolute;
        top: 1em;
        left: 1em;
        width: calc(100% - 2em);
        height: calc(100% - 2em);
    }

    &__entry {
        $self: &;

        vertical-align: top;
        display: inline-block;
        position: relative;
        z-index: 0;
        text-align: center;
        overflow: hidden;
        margin: 0.5em;
        width: 5em;
        height: 6.5em;

        &__inner {
            width: 100%;
            min-height: 100%;
        }

        &__icon {
            flex-grow: 1;
            height: 4.5em;
            width: 100%;
            padding: 0.5em;
            box-sizing: border-box;
            position: relative;

            &__shortcut {
                width: 1em;
                position: absolute;
                bottom: 0;
                right: 0;
            }

            &__icon {
                width: 100%;
            }
        }

        &__label {
            height: 1rem;
            width: 100%;
            box-sizing: border-box;
            overflow: hidden;
            text-align: center;
            word-break: break-all;
            text-overflow: ellipsis;
        }

        &--selected {
            z-index: 1;
            overflow: visible;

            #{ $self }__icon {
                background-color: rgba(0, 0, 200, 0.9);
            }

            #{ $self }__label {
                padding: 0 0.5em 0.5em 0.5em;
                background-color: rgba(0, 0, 200, 0.9);
                color: #fff;
                overflow: visible;
                height: auto;
                overflow-wrap: break-word;
            }
        }
    }
}

// Search
$search-image-size: 16px;

.osjs-search {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999999999999999999;
    width: 0;
    height: 0;
    overflow: visible;
    font-family: Roboto, sans-serif;
}

.osjs-search-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50vw;
    max-height: 80vh;
    transform: translate(-50%, -50%);
    background: var(--background, #ffffff);
    color: var(--foreground, #000000);
    border: 1px solid var(--border, #000000);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.osjs-search-input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    background: var(--input-background, #ffffff);
    color: var(--input-foreground, #000000);
    border: 1px solid var(--border, #000000);
}

.osjs-search-message {
    padding: 5px;
}

.osjs-search-results {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow-x: hidden;
    overflow-y: scroll;
}

.osjs-search-result {
    padding: 0;
    margin: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

    img {
        margin-right: 5px;
        width: $search-image-size;
        height: $search-image-size;
    }
}